$buttonGroupBorderRadius: 3px !default;

$buttonGroupButtonBackgroundColor: #f7f8f9 !default;
$buttonGroupButtonBorder: 1px solid #c2cad0 !default;
$buttonGroupButtonColor: #61696e !default;
$buttonGroupButtonFontSize: 0.875rem !default;
$buttonGroupButtonMargin: unset !default;
$buttonGroupButtonPadding: 0.625rem 1.5rem !default;

$buttonGroupButtonSelectedBackgroundColor: #1a72b0 !default;
$buttonGroupButtonSelectedBorderColor: #1a72b0 !default;
$buttonGroupButtonSelectedColor: #fff !default;